#search {
    margin-bottom: 15px;
}

.thumbnail {
	box-shadow: 0 4px 2px -2px rgba(0,0,0,.2);
    min-height: 400px;
    padding: 10px;
    img {
        background-color: #e8e8e8;
        background-image: url('/assets/placeholder.png');
        background-repeat: no-repeat;
        background-size: contain;
        border: 1px solid #777;
    };
	.caption {
        padding: 5px 0;
		h5 {
			font-weight: 600;
        }
        p {
            font-size: 12px;
            margin-bottom: 2px;
        }
	}
}
