<header class="header">
    <h3 class="header-title">Page not found</h3>
</header>
<div class="grid-container-narrow">
    <div class="grid-row">
        <div class="grid-col-3 grid-container"></div>
        <div class="grid-col-6 grid-container">
            <div class="flash-message">
                <h4>The requested page could not be found. We apologise for the inconvenience.</h4>
                <h5><a [routerLink]="['/books']"><span class="glyphicon glyphicon-circle-arrow-left"></span> Back to overview</a></h5>
            </div>
        </div>
    </div>
</div>